/***********************/
/*****  CSS RESET  *****/
/***********************/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/***********************/
/*****    FONTS    *****/
/***********************/

@font-face {
  font-family: Recursive;
  src: url(home/fonts/Recursive.ttf);
}

@import url('https://fonts.googleapis.com/css2?family=Major+Mono+Display&display=swap');


:root {
  --white: rgb(244, 244, 244);
  --lightGrey: rgb(237, 237, 237);
  --medGrey: rgb(147, 147, 147);
  --darkGrey: rgb(101, 101, 101);
  --black: rgb(79, 79, 79);
  --accentLight: rgb(232, 187, 255);
  --accentMed: rgb(65 104 107);
  --accentDark: rgb(33 57 78);
  --accentTwo: rgb(89, 56, 255);
}


/***********************/
/*****   PRELOAD   *****/
/***********************/

/* .preload * {
  transition: none !important;
} */

.js-loading *,
.js-loading *:before,
.js-loading *:after {
  animation-play-state: paused !important;
}

/***********************/
/***** FOUNDATIONS *****/
/***********************/

body {
  /* font-family: monospace; */
  width: 100vw;
  height: 100vh;
  letter-spacing: 0.15rem;
  font-size: 2.5rem;
  background-color: var(--white);
  overflow-x: hidden;
  overflow-y: auto;
  line-height: 1.25;
  background: hsl(200 20% 88%);
  text-align: center;
}

@media screen and (min-width: 900px) {
  body {
    font-size: 2.8rem;
    line-height: 1.15;
  }
}

p, li {
  font-size: 1.5rem;
  text-align: left;
  padding: 1rem;
  /* background-color: aliceblue; */
}

a {
  color: hotpink;
}

.emphasis {
  /* background-color: rgba(255, 255, 0, 0.111); */
  /* font-weight: bold; */

}


@media screen and (min-width: 900px) {
  p, li {
    font-size: 2.2rem;
    padding: 2rem 10%;
  }

  li {
    margin-left: 4rem;
  }

  
}

/***********************/
/******** LINKS ********/
/***********************/

a {
  color: var(--accentDark);
  text-decoration: rgba(0, 23, 128, 0.088) wavy underline;
  text-decoration: dotted underline rgba(128, 0, 128, 0.203) 3px;
}

a:hover {
  color: var(--accentTwo);
}

/***********************/ 
/******  BUTTONS  ******/
/***********************/

btn,
.btn {
  display: inline-block;
  background-color: var(--darkGrey);
  color: var(--lightGrey);
  font-size: 1.11rem;
  text-decoration: none;
  text-transform: uppercase;
  margin: 3rem;
  padding: 0.6em 4em;
  outline: none;
  border: none;
  cursor: pointer;
}

.btn:hover,
.btn:focus,
btn:focus {
  background: var(--accentDark);
  color: var(--white);
  outline: none;
  border: var(--white);
  border-width: 0px;
}

@media (min-width: 60rem) {
  btn,
  .btn {
    width: auto;
  }
}

/***********************/
/******  videos  *******/
/***********************/

.fitVids-wrapper {
  position: relative;
  /* padding-bottom: 56.25%; */
  /* padding: 1rem 0; */
  margin: 1.5rem 0;
  height: 0;
}
.fitVids-wrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/***********************/
/******  IMAGES  *******/
/***********************/

img {
  max-width: 100vw;
  /* max-height: auto; */
  /* max-height: 50vh; */
}

@media (min-width: 60rem) {
  img {
    /* max-width: 20vw; */
  }
}

#landingImg {
  opacity: 80%;
  max-width: 100vw;
  padding: 0;
  margin: 0;
  /* max-height: auto; */
  /* max-height: 50vh; */
}

@media (min-width: 60rem) {
  #landingImg {
    min-width: 100vw;
    overflow: hidden;
  }
}

.logo {
  max-width: 15rem;
  max-height: auto;
  margin: 1rem;
}

.logoBox {
  display: flex;
  align-items: center;
  justify-content: center;
  align-content: center;
  flex-wrap: wrap;
}

.materials {
  width: 25rem;
  flex-grow: 1;
}

/***********************/
/******* HEADERS *******/
/***********************/

h1,
h2,
h3,
h4,
h5 {
  font-family: 'Major Mono Display', monospace;
}

h1 {
  color: var(--accentDark);
  font-size: 3rem;
  letter-spacing: 0.1em;
  margin: 1em 0em 0.75em 0em;
  font-weight: 700;
  background: linear-gradient(to right, #8f8ff4, #6928d8, #7726da, #2231ff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

h1:hover {
  /* letter-spacing: 0.2em; */
  font-size: 5rem;

}


h2 {
  color: var(--accentMed);
  font-size: 2.5rem;
  /* font-size: 3rem; */
  /* font-weight: 400; */
  margin: 2em 0em 0.75em 0em;
  background: linear-gradient(to right, #5e5ef0, #6928d8, #490f90, #2247ff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

h3 {
  font-size: 3rem;
  margin: 2rem;
  /* text-align: left;  */
  /* font-weight: 400; */
  color: var(--accentDark);
}

h4 {
  font-size: 1rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  color: var(--accentLight);
}

h5 {
  font-size: 1.4rem;
  font-weight: 400;
  color: var(--accentLight);
}

@media screen and (min-width: 900px) {
  h1 {
    font-size: 5rem;
  }

  h2 {
    font-size: 4rem;
  }
}


/***********************/
/*****    LISTS    *****/
/***********************/

ul {
  /* padding-top: 0.15em; */
}

li {
  text-align: left;
  margin-left: 3em;
  padding: 1rem;
  list-style-type: disc;
}

.controllerList {
  list-style: none;
}

.controllerList li {
  list-style: none;

}

.controllerList li::before {
  content: '🎮 ';
}

@media screen and (min-width: 900px) {
  .controllerList {
    list-style: none;
  }
  
  .controllerList li {
    text-indent: -3.4rem;
  }
  
  .controllerList li::before {
    content: '🎮 ';
  }
}

.controllerList li:nth-child(2)::before {
  content: "👾 ";
}
.controllerList li:nth-child(3)::before {
  content: '⚒️ ';
}
.controllerList li:nth-child(4)::before {
  content: "🕹️ ";
}
.controllerList li:nth-child(5)::before {
  content: "🔥 ";
}
.controllerList li:nth-child(6)::before {
  content: "✨ ";
}

.controllerList li:nth-child(7)::before {
  content: "💯 ";
}

.controllerList li:nth-child(8)::before {
content: "🤩 ";
}

.controllerList li:nth-child(9)::before {
  content: "🎉 ";
}

/***********************/
/*** MOBILE  FORMS  ***/
/***********************/

form {
  /* display: flex;
  justify-content: center;
  margin: 0 auto;
  background-color: var(--lightGrey);
  padding: 1em; */
}

#accessForm {
  /* display: block; */
}

fieldset {
  /* margin: 3rem 0; */
}

legend {
  /* font-size: 1.5rem;
  padding: 1rem; */
}

/***********************/
/**** DESKTOP FORMS ****/
/***********************/
@media screen and (min-width: 900px) {
  form {
    /* width: 60%; */
  }
}

form ul {
  /* padding: 10px; */
  /* margin: 0; */
}

form li {
  /* list-style: none; */
  /* margin-top: 1em; */
}

label {
  /* Uniform size & alignment */
  /* display: inline-block; */
  /* width: 90px; */
  /* text-align: right; */
}

input {
  /* font: 1em sans-serif; */
  /* width: 300px; */
  /* box-sizing: border-box; */
  /* border: 1px solid #999; */
}

input:focus,
textarea:focus {
  /* Additional highlight for focused elements */
  /* border-color: #000; */
}

select {
  /* width: 12rem;
  padding: 5px 35px 5px 5px;
  font-size: 1rem;
  height: 2rem;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none; */
}

select::-ms-expand {
  display: none; /* Remove default arrow in Internet Explorer 10 and 11 */
}

@media screen and (min-width: 0\0) {
  select {
    /* background: none\9; */
    /* padding: 5px\9; */
  }
}

/***********************/
/******** HEADER *******/
/***********************/

header {
  /* background-color: var(--white); */
  position: absolute;
    width: 100vw;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    box-sizing: border-box;
  /* justify-content: space-between; */
}

@media screen and (min-width: 900px) {
  header {
    width: 100vw;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    padding: 0;
    margin: 0;
    /* justify-content: normal; */
    /* grid-template-columns: auto max-content minmax(600px, 3fr) 1fr; */
    /* border-bottom: .05em solid rgba(250, 128, 114, 0.3); */
    /* margin-bottom: 2rem; */
  }
}

/***********************/
/*** SITE NAME & LOGO **/
/***********************/

#nameAndLogo {
  /* display: flex; */
  /* flex-direction: column; */
  /* margin: 20px 20px 0 0; */
  /* align-items: center; */
  /* position: absolute; */
  z-index: 999;
}

@media screen and (min-width: 900px) {
  #nameAndLogo {
    margin: 20px 20px 0 0;
  }
}

#siteName {
  font-size: 1rem;
  cursor: pointer;
  padding: .45em 0 0 0;
}

#indexImage {
  z-index: 999;
  /* position: static; */
  width: 5rem;
  /* background-color: red; */
}

#indexImage:hover,
.button:focus {
  /* background: #232323; */
  filter: hue-rotate(280deg);
}

@media screen and (min-width: 900px) {
  #indexImage {
    z-index: 999;
    /* position: static; */
    width: 5rem;
  }
}

/***********************/
/***** NAV MOBILE ******/
/***********************/

nav {
  position: absolute;
  text-align: right;
  top: 100%;
  /* left: 0; */
  background-color: var(--lightGrey);
  width: 100%;
  transform: scale(1, 0);
  transform-origin: top;
  transition: transform 400ms ease-in-out;
}

nav ul {
  padding: 0;
}

nav li {
  margin: 2em 1em;
  list-style-type: none;
}

nav a {
  color: var(--accentDark);
  font-size: 1.2rem;
  transition: opacity 150ms ease-in-out;
}

/*************************/
/****** NAV DESKTOP ******/
/*************************/
@media screen and (min-width: 900px) {
  nav {
    box-sizing: border-box;
    /* add Edge support */
    position: relative;
    text-align: right;
    transition: none;
    transform: scale(1, 1);
    background: none;
    top: initial;
    left: initial;
    /* end Edge support */
    /* grid-column: 3 / 3; */
    /* max-width: 70%; */
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    margin: 0;
    padding: 0;
  }

  nav ul {
    display: flex;
    font-size: 0.5rem;
  }

  nav li {
    /* color:blue; */
    margin: 0 1.5em;
    /* background: #232323; */
    /* filter: hue-rotate(9f0deg); */
  }

  nav a {
    opacity: 1;
    position: relative;
  }

  nav a:hover::before {
    transform: scale(1, 1);
  }

  nav a:hover {
    color: var(--accentTwo);
  }
}

.videoContainer {
  /* margin: 5rem 0; */
  margin: 0;
  padding: 0;
  height: auto;
}

.imageContainer {
  display: flex;
  flex-direction: row;
  margin: 5rem 0;
  padding: 0;
  flex-wrap: wrap;
  justify-content: space-between;
  /* align-content: center; */
  /* align-items: center; */
}

/***********************/
/***** NAV TOGGLE ******/
/***********************/

.nav-toggle {
  /* display: inline-block; */
  position: absolute !important;
  top: -9999px !important;
  left: -9999px !important;
  padding: 0.5rem;
}

.nav-toggle:focus,
.nav-toggle-label {
  color: var(--accentLight);
}

.nav-toggle-label {
  /* position: absolute; */
  top: 0;
  left: 0;
  margin: 0 0.95em;
  height: 100%;
  display: flex;
  align-items: center;
}

.nav-toggle-label span,
.nav-toggle-label span::before,
.nav-toggle-label span::after {
  display: block;
  background-color: var(--accentLight);
  height: 3px;
  width: 50px;
  border-radius: 2px;
  position: relative;
}

.nav-toggle-label span::before,
.nav-toggle-label span::after {
  content: "";
  position: absolute;
}

.nav-toggle-label span::before {
  bottom: 13px;
}

.nav-toggle-label span::after {
  top: 13px;
}

.nav-toggle:checked ~ nav {
  transform: scale(1, 1);
}

.nav-toggle:checked ~ nav a {
  opacity: 1;
  transition: opacity 250ms ease-in-out 250ms;
}

@media screen and (min-width: 900px) {
  .nav-toggle-label {
    display: none;
  }
}

/***********************/
/******* FOOTER ********/
/***********************/

footer {
  padding: 1em 0;
  background-color: var(--lightGrey);
  text-align: center;
  display: inline-block;
  width: 100vw;
}

@media screen and (min-width: 900px) {
}


/* ///// */

#Surface {
  position: fixed;
  list-style: none;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  box-sizing: border-box;
  /* opacity: 0; */
  -webkit-animation: fadeIn 2s ease-out 0.5s;
  animation: fadeIn 2s ease-out 0.5s;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  list-style: none;
}

/* Item Critter */

.item {
  position: fixed;
  list-style: none;
  width: 20rem;
  height: 20rem;
  animation-play-state: paused;
  opacity: 0.9;
}

.item img {
  animation-iteration-count: infinite;
}

.item a {
  color: black;
  text-decoration: none;
}

.item_text {
  padding: 0;
  margin: 0;
  margin-bottom: 5px;
}

.item_title {
  font-size: 1.25rem;
  letter-spacing: 0.1em;
}

.item_image {
  width: 100%;
}

.text_container {
  position: absolute;
  letter-spacing: 0.05em;
  top: calc(100% + 0.35rem);
  left: 50%;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  visibility: hidden;
  opacity: 0;
  width: auto;
  white-space: nowrap;
  text-align: center;
  pointer-events: none;
}

.above .text_container {
  top: auto;
  bottom: calc(100% - 0.5rem);
}

/* .item_category{
	margin-top: 1rem;
	user-select: none;
	color: lightgray;
	text-transform: lowercase;
} */

/* .invasion .invasion,
.capital .capital{
	color: black;
} */

/* .active_category{
	text-transform: uppercase;
	color: black;
} */

/* .categories{
	width: 25rem;
	display: flex;
	font-size: 1rem;
	justify-content: space-between;
} */

.item_link:focus {
  z-index: 10;
}

.item_link:focus .text_container {
  visibility: visible;
  opacity: 1;
}

@media (any-hover: hover) {
  .item:hover {
    z-index: 10;
    width: 21rem;
    width: 21rem;
    opacity: 1;
    transition: all 3s ease-in-out;

    /* background: yellow; */
    animation-play-state: paused !important;
  }

  .item:hover .text_container {
    visibility: visible;
    opacity: 1;
  }
}

/* crittermovement */

/****** BOBBING *******/
@keyframes bobbing1 {
  0% {
    transform: translateY(0, 0);
  }

  15% {
    transform: translateY(2.5rem);
  }

  30% {
    transform: translateY(0, 0);
  }
}

@keyframes bobbing2 {
  0% {
    transform: translate(0, 0);
  }

  15% {
    transform: translate(0.25rem, 2.5rem);
  }

  30% {
    transform: translate(0, 0);
  }
}

@keyframes bobbing3 {
  0% {
    transform: translate(0, 0);
  }

  15% {
    transform: translate(-0.25rem, 2.5rem);
  }

  30% {
    transform: translate(0, 0);
  }
}

/* MOVEMENT */

@keyframes down1 {
  0% {
    /* opacity: 0; */
    transform: translate(0, 0);
    /* transform: rotate(0); */
  }
  5% {
    /* opacity: 1; */
  }
  95% {
    /* opacity: 1; */
  }
  100% {
    /* opacity: 0; */
    transform: translate(10vw, 160vh);
    /* transform: rotate(30deg); */
  }
}

@keyframes down2 {
  0% {
    /* opacity: 0; */
    transform: translate(0, 0);
  }
  5% {
    /* opacity: 1; */
  }
  95% {
    /* opacity: 1; */
  }
  100% {
    /* opacity: 0; */
    transform: translate(30vw, 160vh);
  }
}

@keyframes down3 {
  0% {
    /* opacity: 0; */
    transform: translate(0, 0);
  }
  5% {
    /* opacity: 1; */
  }
  95% {
    /* opacity: 1; */
  }
  100% {
    /* opacity: 0; */
    transform: translate(60vw, 160vh);
  }
}

@keyframes down4 {
  0% {
    /* opacity: 0; */
    transform: translate(0, 0);
  }
  5% {
    /* opacity: 1; */
  }
  95% {
    /* opacity: 1; */
  }
  100% {
    /* opacity: 0; */
    transform: translate(10vw, 160vh);
  }
}

@keyframes down5 {
  0% {
    /* opacity: 0; */
    transform: translate(0, 0);
  }
  5% {
    /* opacity: 1; */
  }
  95% {
    /* opacity: 1; */
  }
  100% {
    /* opacity: 0; */
    transform: translate(-30vw, 160vh);
  }
}

@keyframes down6 {
  0% {
    /* opacity: 0; */
    transform: translate(0, 0);
  }
  5% {
    /* opacity: 1; */
  }
  95% {
    /* opacity: 1; */
  }
  100% {
    /* opacity: 0; */
    transform: translate(-60vw, 160vh);
  }
}

/* UP */

@keyframes up1 {
  0% {
    /* opacity: 0; */
    transform: translate(0, 0);
  }
  5% {
    /* opacity: 1; */
  }
  95% {
    /* opacity: 1; */
  }
  100% {
    /* opacity: 0; */
    transform: translate(10vw, -160vh);
  }
}

@keyframes up2 {
  0% {
    /* opacity: 0; */
    transform: translate(0, 0);
  }
  5% {
    /* opacity: 1; */
  }
  95% {
    /* opacity: 1; */
  }
  100% {
    /* opacity: 0; */
    transform: translate(30vw, -160vh);
  }
}

@keyframes up3 {
  0% {
    /* opacity: 0; */
    transform: translate(0, 0);
  }
  5% {
    /* opacity: 1; */
  }
  95% {
    /* opacity: 1; */
  }
  100% {
    /* opacity: 0; */
    transform: translate(60vw, -160vh);
  }
}

@keyframes up4 {
  0% {
    /* opacity: 0; */
    transform: translate(0, 0);
  }
  5% {
    /* opacity: 1; */
  }
  95% {
    /* opacity: 1; */
  }
  100% {
    /* opacity: 0; */
    transform: translate(10vw, -160vh);
  }
}

@keyframes up5 {
  0% {
    /* opacity: 0; */
    transform: translate(0, 0);
  }
  5% {
    /* opacity: 1; */
  }
  95% {
    /* opacity: 1; */
  }
  100% {
    /* opacity: 0; */
    transform: translate(-30vw, -160vh);
  }
}

@keyframes up6 {
  0% {
    /* opacity: 0; */
    transform: translate(0, 0);
  }
  5% {
    /* opacity: 1; */
  }
  95% {
    /* opacity: 1; */
  }
  100% {
    /* opacity: 0; */
    transform: translate(-60vw, -160vh);
  }
}

/* right */

@keyframes right1 {
  0% {
    /* opacity: 0; */
    transform: translate(0, 0);
  }
  5% {
    /* opacity: 1; */
  }
  95% {
    /* opacity: 1; */
  }
  100% {
    /* opacity: 0; */
    transform: translate(160vw, 10vh);
  }
}

@keyframes right2 {
  0% {
    /* opacity: 0; */
    transform: translate(0, 0);
  }
  5% {
    /* opacity: 1; */
  }
  95% {
    /* opacity: 1; */
  }
  100% {
    /* opacity: 0; */
    transform: translate(160vw, 30vh);
  }
}

@keyframes right3 {
  0% {
    /* opacity: 0; */
    transform: translate(0, 0);
  }
  5% {
    /* opacity: 1; */
  }
  95% {
    /* opacity: 1; */
  }
  100% {
    /* opacity: 0; */
    transform: translate(160vw, 60vh);
  }
}

@keyframes right4 {
  0% {
    /* opacity: 0; */
    transform: translate(0, 0);
  }
  5% {
    /* opacity: 1; */
  }
  95% {
    /* opacity: 1; */
  }
  100% {
    /* opacity: 0; */
    transform: translate(160vw, 10vh);
  }
}

@keyframes right5 {
  0% {
    /* opacity: 0; */
    transform: translate(0, 0);
  }
  5% {
    /* opacity: 1; */
  }
  95% {
    /* opacity: 1; */
  }
  100% {
    /* opacity: 0; */
    transform: translate(160vw, -30vh);
  }
}

@keyframes right6 {
  0% {
    /* opacity: 0; */
    transform: translate(0, 0);
  }
  5% {
    /* opacity: 1; */
  }
  95% {
    /* opacity: 1; */
  }
  100% {
    /* opacity: 0; */
    transform: translate(160vw, -60vh);
  }
}

/* left */

@keyframes left1 {
  0% {
    /* opacity: 0; */
    transform: translate(0, 0);
  }
  5% {
    /* opacity: 1; */
  }
  95% {
    /* opacity: 1; */
  }
  100% {
    /* opacity: 0; */
    transform: translate(-160vw, 10vh);
  }
}

@keyframes left2 {
  0% {
    /* opacity: 0; */
    transform: translate(0, 0);
  }
  5% {
    /* opacity: 1; */
  }
  95% {
    /* opacity: 1; */
  }
  100% {
    /* opacity: 0; */
    transform: translate(-160vw, 30vh);
  }
}

@keyframes left3 {
  0% {
    /* opacity: 0; */
    transform: translate(0, 0);
  }
  5% {
    /* opacity: 1; */
  }
  95% {
    /* opacity: 1; */
  }
  100% {
    /* opacity: 0; */
    transform: translate(-160vw, 60vh);
  }
}

@keyframes left4 {
  0% {
    /* opacity: 0; */
    transform: translate(0, 0);
  }
  5% {
    /* opacity: 1; */
  }
  95% {
    /* opacity: 1; */
  }
  100% {
    /* opacity: 0; */
    transform: translate(-160vw, 10vh);
  }
}

@keyframes left5 {
  0% {
    /* opacity: 0; */
    transform: translate(0, 0);
  }
  5% {
    /* opacity: 1; */
  }
  95% {
    /* opacity: 1; */
  }
  100% {
    /* opacity: 0; */
    transform: translate(-160vw, -30vh);
  }
}

@keyframes left6 {
  0% {
    /* opacity: 0; */
    transform: translate(0, 0);
  }
  5% {
    /* opacity: 1; */
  }
  95% {
    /* opacity: 1; */
  }
  100% {
    /* opacity: 0; */
    transform: translate(-160vw, -60vh);
  }
}

/* Top */
.top {
  top: -30rem;
}

/* Right */
.right {
  right: -30rem;
}
/* Bottom */
.bottom {
  bottom: -30rem;
}
/* Left */
.left {
  left: -30rem;
}

/* Vertical starting positions*/
.vertical0 {
  top: calc(10% * 0);
}
.vertical1 {
  top: calc(10% * 1);
}
.vertical2 {
  top: calc(10% * 2);
}
.vertical3 {
  top: calc(10% * 3);
}
.vertical4 {
  top: calc(10% * 4);
}
.vertical5 {
  top: calc(10% * 5);
}
.vertical6 {
  top: calc(10% * 6);
}
.vertical7 {
  top: calc(10% * 7);
}
.vertical8 {
  top: calc(10% * 8);
}
.vertical9 {
  top: calc(10% * 9);
}
.vertical10 {
  top: calc(10% * 10);
}
.vertical11 {
  top: calc(8% * 1);
}
.vertical12 {
  top: calc(8% * 2);
}
.vertical13 {
  top: calc(8% * 3);
}
.vertical14 {
  top: calc(8% * 4);
}

/* Horizontal starting positions*/
.horizontal0 {
  left: calc(10vw * 0);
}
.horizontal1 {
  left: calc(10vw * 1);
}
.horizontal2 {
  left: calc(10vw * 2);
}
.horizontal3 {
  left: calc(10vw * 3);
}
.horizontal4 {
  left: calc(10vw * 4);
}
.horizontal5 {
  left: calc(10vw * 5);
}
.horizontal6 {
  left: calc(10vw * 6);
}
.horizontal7 {
  left: calc(10vw * 7);
}
.horizontal8 {
  left: calc(10vw * 8);
}
.horizontal9 {
  left: calc(10vw * 9);
}
.horizontal10 {
  left: calc(10vw * 10);
}
.horizontal11 {
  left: calc(8vw * 1);
}
.horizontal12 {
  left: calc(8vw * 2);
}
.horizontal13 {
  left: calc(8vw * 3);
}
.horizontal14 {
  left: calc(8vw * 4);
}

/* .vertical0 {
    top: calc(10% * 0);
  }
  .vertical1 {
    top: calc(10% * 1);
  }
  .vertical2 {
    top: calc(10% * 2);
  }
  .vertical3 {
    top: calc(10% * 3);
  }
  .vertical4 {
    top: calc(10% * 4);
  }
  .vertical5 {
    top: calc(10% * 5);
  }
  .vertical6 {
    top: calc(10% * 6);
  }
  .vertical7 {
    top: calc(10% * 7);
  }
  .vertical8 {
    top: calc(10% * 8);
  }
  .vertical9 {
    top: calc(10% * 9);
  }
  .vertical10 {
    top: calc(10% * 10);
  }
  .vertical11 {
    top: calc(8% * 1);
  }
  .vertical12 {
    top: calc(8% * 2);
  }
  .vertical13 {
    top: calc(8% * 3);
  }
  .vertical14 {
    top: calc(8% * 4);
  } */

/* rotation starting positions*/

/* .rotate1 {
    transform: rotate(11.8deg);
  }

  .rotate2 {
    transform: rotate(22.8deg);
  }

  .rotate3 {
    transform: rotate(33.8deg);
  }

  .rotate4 {
    transform: rotate(44.8deg);
  }

  .rotate5 {
    transform: rotate(55.8deg);
  } */

/* .rotate1 {
    transform: rotate(66.8deg);
  }

  .rotate2 {
    transform: rotate(77.8deg);
  }

  .rotate3 {
    transform: rotate(88.8deg);
  }

  .rotate4 {
    transform: rotate(99.8deg);
  }

  .rotate5 {
    transform: rotate(101.8deg);
  }

  .rotate6 {
    transform: rotate(111.8deg);
  }

  .rotate7 {
    transform: rotate(222.8deg);
  }

  .rotate8 {
    transform: rotate(333.8deg);
  }

  .rotate9 {
    transform: rotate(444.8deg);
  }

  .rotate10 {
    transform: rotate(555.8deg);
  }

  .rotate11 {
    transform: rotate(666.8deg);
  }

  .rotate12 {
    transform: rotate(777.8deg);
  }

  .rotate13 {
    transform: rotate(888.8deg);
  }

  .rotate14 {
    transform: rotate(999.8deg);
  } */

/* #i0 {
    transform: rotate(100deg);
  }

  #i1 {
    transform: rotate(90deg);
  }

  #i2 {
    transform: rotate(100deg);
  }

  #i3 {
    transform: rotate(90deg);
  }

  #i4 {
    transform: rotate(90deg);
  }

  #i5 {
    transform: rotate(100deg);
  }

  #i6 {
    transform: rotate(90deg);
  }


  #i7 {
    transform: rotate(100deg);
  }

  #i02 {
    transform: rotate(90deg);
  }

  #i12 {
    transform: rotate(90deg);
  }

  #i22 {
    transform: rotate(100deg);
  }

  #i32 {
    transform: rotate(90deg);
  }

  #i42 {
    transform: rotate(90deg);
  }

  #i52 {
    transform: rotate(100deg);
  }

  #i62 {
    transform: rotate(90deg);
  } */


/* ///////////////////// */
/* ////     Index    /// */
/* ///////////////////// */

/***********************/
/*****   Index    ******/
/***********************/

/* .resistance {
  background-color: rgba(255, 255, 0, 0.304);
}

.hyphae {
  background-color: rgba(255, 119, 0, 0.46);
}

.passages {
  background-color:  rgba(64, 0, 255, 0.272);
}

.structures {
  background-color: rgba(0, 128, 0, 0.386);
}

.layers {
  background-color: rgba(255, 0, 0, 0.352);
}

.clusters {
  background-color: rgba(128, 0, 128, 0.452);
}

.landscapes {
  background-color: rgba(92, 205, 186, 0.337);
}

.spheres {
  background-color: rgba(76, 0, 130, 0.342);
} */



.indexTypeContainer{
  display:flex;
  flex-wrap: wrap;
  justify-content: center;
}

.indexItem,
.indexType {
  opacity: 0.2;
  /* display: inline-block; */
  /* background-color: var(--darkGrey); */
  /* color: var(--darkGrey); */
  font-size: 1.11rem;
  text-decoration: none;
  text-transform: uppercase;
  margin: 1rem;
  /* padding: 0.6em 4em; */
  outline: none;
  border: none;
  cursor: pointer;
}

.fullOpacity {
  opacity: 1;
}

.indexItem:hover,
.indexItem:focus,
.indexType:hover,
.indexType:hover {
  background: var(--accentDark);
  color: var(--white);
  outline: none;
  border: var(--white);
  border-width: 0px;
}

@media (min-width: 60rem) {
  .indexItem,
  .indexType {
    width: auto;
  }
}


#landingPage {
  /* display:flex; */
  /* flex-direction: row; */
}

.fixedImage {
  /* position: fixed; */
  /* max-width: 5rem; */
  /* max-height: 5rem; */
  /* height: auto; */
}

#wallpaper{
  width: 100vw;
  opacity: .5;
}

.repeat {
  margin-top: 5rem;
height: 20rem;
background-repeat: round;
background: url(images/wallpaper.png);
}